{% extends 'admin/base_site.html' %}
{% load quiz_tags %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/admin/">{% trans "Home" %}</a> > <a href="{% url "analytics:list" %}">{% trans 'Отчеты' %}</a>
        > <a href="{% url "analytics:summary" quiz_name=sitting.quiz.url %}">{{ sitting.quiz.title }}</a> > {{ sitting.user.first_name }} {{ sitting.user.last_name }}
    </div>
{% endblock %}
{% block extrastyle %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="col-md-8">
        <h1>{{ sitting.user.first_name }}</h1>
                <h1>{{ sitting.user.last_name }}</h1>
        <h4>{{ sitting.user.email }}</h4>
        <br>
        <h2>Результаты теста "{{ sitting.quiz.title }}"</h2>
    </div>
    <div class="col-md-2 pull-right text-center">
        {% if sitting.check_if_passed %}
            <div class="alert alert-success">
                Результат
                <h3>{{ sitting.get_percent_correct }}</h3>
                %
            </div>
        {% else %}
            <div class="alert alert-danger">
                Результат
                <h3>{{ sitting.get_percent_correct }}</h3>
                %
            </div>
        {% endif %}
        <div class="alert alert-info">
            Время прохождения
            <h3>{{ duration }}</h3>
            минут
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>

    {% if questions %}
        <h3>Ответы участника</h3>
        <hr>

        {% for question in questions %}

            <p class="lead">
                {{ question.content }}
            </p>

            {% correct_answer_for_all question %}

            {% if question.user_answer %}
                <p>{% trans "Ответ студента" %}: {{ question|answer_choice_to_string:question.user_answer }}</p>
            {% endif %}

            <hr>

        {% endfor %}
    {% endif %}
    </div>
{% endblock %}