{% extends 'auth_master.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
    <div>
        <form action="" method=post>
            {% csrf_token %} {{ error }} {{ form.non_field_errors }} {{ form.as_p }}
            <div>
                <div class="pull-left">
                    <input class="btn btn-primary" type="submit" value="Зарегистрироваться"/>
                </div>
                <div class="pull-right">
                    <a href="/auth/login">Или войдите</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}